header img.right-icon {
  max-width: 140px;
}

.country-flag {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #333;
  margin-right: 10px;
}

.country-name {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.15rem;
}

.country-votes-container {
  background-color: #fbf7f7; /* Hintergrundfarbe */
  padding: 95px 15px 75px; /* Innenabstand */
  height: calc(100vh - 170px);
}

.tile {
  width: 100%;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Zentriert die Kacheln */
  column-gap: 5px;
  row-gap: 5px;
}

.button {
  background-color: #ffd600; /* Hintergrundfarbe für die Buttons */
  color: #000; /* Textfarbe für die Buttons */
  padding: 10px 20px; /* Innenabstand anpassen */
  margin: 0 10px;
  border: none; /* Kein Rahmen */
  border-radius: 5px; /* Abgerundete Ecken */
  cursor: pointer; /* Zeiger beim Überfahren des Buttons */
}
