.user-ratings-container {
  background-color: #FBF7F7; /* Hintergrundfarbe */
  padding: 15px; /* Innenabstand */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header img {
  max-width: 50px; /* Maximale Breite der Bilder */
}

/* Ändern Sie die Größe der Icons im Header */
.header img.left-icon,
.header img.right-icon {
  max-width: 100px; /* Neue maximale Breite */
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Zentriert die Kacheln */
  column-gap: 5px;
  row-gap: 5px;
}

.tile {
  width: calc(50% - 20px); /* Zwei Kacheln pro Reihe */
  background-color: #FBF7F4; /* Hintergrundfarbe */
  border: 1px solid #ccc; /* Rand */
  border-radius: 5px; /* Abgerundete Ecken */
  box-shadow: 3px 3px 0 0 #e9e9ea; /* Schatten */
}

@media screen and (min-width: 768px) {
  .tile {
    width: calc(20% - 20px); /* Drei Kacheln pro Reihe ab einer Bildschirmbreite von 768px */
  }
}

.tile-content {
  padding: 20px;
}

.tile-header {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.tile-contentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tile-footer {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  margin-left: 10px;
}

.country-image {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Runde Ecken */
  margin-right: 10px;
}

.country-name {
  font-weight: bold;
  font-size: 16px;
}

.artist-name {
  font-size: 14px;
  font-weight: bold;
}

.artist-song {
  font-weight: 300;
  font-size: 12px;
}

.rating-select {
  width: 30%;
}

.footer {
  margin-top: 20px;
}

.btn-save,
.btn-cancel {
  background-color: #FC48FF; /* Hintergrundfarbe für Buttons */
  color: #FFD600; /* Textfarbe für Buttons */
  padding: 10px 20px; /* Innenabstand anpassen */
  border: none; /* Kein Rand */
  border-radius: 5px; /* Abgerundete Ecken */
  border-color: black;
  cursor: pointer;
  margin-right: 10px; /* Rechten Abstand anpassen */
}

.btn-save:hover,
.btn-cancel:hover {
  background-color: #FC9000; /* Hintergrundfarbe bei Hover */
}
