.user-ratings-container {
  background-color: var(--color-background);
}

.ratings-header {
  background-color: var(--color-background);
}

.ratings-header img.left-icon,
.ratings-header img.right-icon {
  max-width: 140px;
}

.ratings-header img.right-icon {
  max-height: 80px;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px;
}

.tile {
  width: 100%;
}
