.tile-container {
  width: calc(100% - 20px);
  max-width: 350px;
  background-color: #fbf7f4; /* Hintergrundfarbe */
  border: 1px solid #ccc; /* Rand */
  border-radius: 12px; /* Abgerundete Ecken */
  box-shadow: 3px 3px 0 0 #e9e9ea; /* Schatten */
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.tile-content {
  flex-grow: 1;
}

.country-flag {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #333;
  margin-right: 10px;
}

.country-name {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.15rem;
}

.artist-name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05rem;
}

.artist-song {
  font-weight: 400;
  font-size: 14px;
}
