<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <table>
    <tr>
      <td></td>
      <td *ngFor="let user of users">
        {{user.name}}
      </td>
      <td>Durchschnitt</td>
    </tr>
    <tr *ngFor="let country of countries">
      <td>
        {{country.name}}
      </td>
      <td *ngFor="let user of users">
        {{getRatingFor(country.id, user.id)}}
      </td>
      <td>
        {{getCountryAverage(country.id)}}
      </td>
    </tr>
    <tr>
      <td>Durchschnitt</td>
      <td *ngFor="let user of users">
        {{getUserAverage(user.id)}}
      </td>
      <td></td>
    </tr>
  </table>
  <!--<mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>-->
  <button class="voteButton" mat-button color="primary" (click)="toVote()">Abstimmung</button>
</div>
