.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  background: whitesmoke;
}

.voteButton {
  background-color: whitesmoke;
  outline: auto;
  margin-left: 1em;
  margin-top: 1em;
}

.icon {
  border-radius: 50%;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
  align-self: center;
}

.table, th, td {
  background: whitesmoke;
  border: solid;
  text-align: center;
}

.user {
  width: 4em;
}

.country {
  width: 8em;
}



