<div class="header">
  <img class="left-icon" src="assets/images/esc_ods.svg" alt="Icon" />
  <h1>Dashboard</h1>
</div>

<div class="countries-container">
  <div class="tiles-container">
    <app-country-dashboard-tile
      *ngFor="let country of countries"
      [country]="country"
      [routerLink]="country.flag"
      class="tile"
    ></app-country-dashboard-tile>
  </div>
</div>

<div class="footerBar">
  <button class="button" (click)="toVote()">Voting</button>
  <button class="button" (click)="refresh()">Refresh</button>
</div>
