<div class="headerBar">
  <img class="logo" src="assets/images/ESC.png" alt="Icon">
  <h1 class="headerTitle">{{currentUser.username}}</h1>
</div>
<mat-list class="content">
  <div class="country" *ngFor="let rating of ratings">
    <img class="icon" src="{{imagePath + rating.countryFlag}}" alt="Icon">
    <div class="names">
      <h3 class="h3">{{rating.countryName}}</h3>
      <span matListItemLine>{{rating.countryInterpret}}</span>
      <span matListItemLine>{{rating.countrySong}}</span>
    </div>
    <div class="number">
      <mat-select class="select" [(ngModel)]="rating.ratingValue" placeholder="Note">
        <mat-option *ngFor="let selected of selectedRatings" [value]="selected.value">
          <span>{{selected.displayName}}</span>
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="footerBar">
    <button class="button" mat-button color="primary" (click)="save()">Speichern</button>
    <button *ngIf="currentUser.isAdmin" class="button" mat-button color="primary" (click)="toDashboard()">Dashboard</button>
    <button class="button" mat-button color="primary" (click)="logout()">Ausloggen</button>
  </div>
</mat-list>


