<mat-list>
  <mat-list-item *ngFor="let rating of ratings">
    <p matListItemLine>
      <img src="{{imagePath + rating.countryFlag}}" alt="Icon">
      <span>Land: {{rating.countryName}} </span>
      <span>Song: {{rating.countrySong}} </span>
      <span>Künstler: {{rating.countryInterpret}} </span>
      <span>
      <label>Note:</label>
      <input id="value" [(ngModel)]="rating.ratingValue">
      </span>
    </p>
  </mat-list-item>
  <button mat-button color="primary" (click)="save()" >Speichern</button>
</mat-list>
<!--
<mat-list>
  <mat-list-item *ngFor="let rating of ratings">
    <p matListItemLine>
      <span>Name: {{rating.id}} </span>
    </p>
  </mat-list-item>
  <button mat-button color="primary">Speichern</button>
</mat-list>
-->
