<h2>Abstimmung</h2>
<ul class="country">
  <li *ngFor="let country of test_countries">
    <div>
      <span class="name">{{country.id}}</span>
      <span class="badge">{{country.name | uppercase}}</span>
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <!--span><label>Land: </label><input></span-->
      <!--input id="name" [(ngModel)]="country.name" placeholder="Land"-->
    </div>
  </li>
</ul>
<button>Speichern</button>
