.dashboard-header {
  background-color: var(--color-header-background-primary);
}

.dashboard-header img.left-icon,
.dashboard-header img.right-icon {
  max-width: 140px;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px;
}

.tile {
  width: 100%;
}
