<h2>Benutzerverwaltung</h2>
<!--ul class="country">
  <li *ngFor="let user of users1">
    <div>
      <span class="name">{{user.icon}}</span>
      <span class="name">{{user.name}}</span>
      <span class="name">{{user.admin}}</span>
    </div>
  </li>
</ul>
<button>Speichern</button-->

<mat-list class="heroes">
  <mat-list-item *ngFor="let user of users">
    <p matListItemLine>
      <img src="{{imagePath + user.icon}}" alt="Icon">
      <span>Name: {{user.name}} </span>
      <label>Admin:</label>
      <input type="checkbox" id="admin" [(ngModel)]="user.admin" disabled>
    </p>
  </mat-list-item>
  <button mat-list-item (click)="save()">Save</button>
</mat-list>


