.user-management-container {
}

.heading {
  font-weight: bold;
}

.sub-heading {
  font-weight: bold;
  margin-top: 20px;
}

.current-user-section {
  margin-top: 20px;
  border: 1px solid #000;
}

.current-user-details {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-group, .button-group {
  margin-right: 20px;
  margin-bottom: 10px;
}

.input-group label, .button-group button {
  margin-right: 5px;
}

.current-user-details label {
  margin-right: 10px;
}

.user-table-container {
  margin-top: 20px;
}

.user-table {
  background-color: #FBF7F4; /* Hintergrundfarbe der Tabelle */
  color: #000; /* Textfarbe */
  border-collapse: collapse; /* Zusammenführen der Tabelle */
  width: 100%; /* Breite der Tabelle auf 100% des Containers festlegen */
}

.user-table th:first-child,
.user-table-table td:first-child {
  border-left: none; /* Linke Grenze entfernen, um die erste Spalte zu trennen */
}

.user-table th:last-child,
.user-table td:last-child {
  border-right: none; /* Rechte Grenze entfernen, um die letzte Spalte zu trennen */
}

.user-table tr:nth-child(even) {
  background-color: #EFE9E6; /* Hintergrundfarbe für gerade Zeilen */
}

.user-table th,
.user-table td {
  border: 1px solid #000; /* Schwarze Linien zwischen den Zellen */
  padding: 8px; /* Innenabstand anpassen */
}

.user-table th {
  background-color: #FFD600; /* Hintergrundfarbe für Tabellenkopf */
}

.user-table tr:hover {
  background-color: #D4CFCB; /* Hintergrundfarbe bei Hover */
}

.user-table button {
  background-color: #FFD600; /* Hintergrundfarbe für Buttons */
  color: #000; /* Textfarbe für Buttons */
  padding: 8px 16px; /* Innenabstand anpassen */
  border: none; /* Kein Rand */
  border-radius: 5px; /* Abgerundete Ecken */
  cursor: pointer;
  margin-right: 10px; /* Rechten Abstand anpassen */
}

.user-table button:hover {
  background-color: #FFB500; /* Hintergrundfarbe bei Hover */
}

.selected-row {
  background-color: lightblue;
}
